.root {
  max-width: 360px;
  width: 100%;
  background-color: var(--mantine-color-white); 
  margin-top: var(--mantine-spacing-sm);
}


.title {
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  margin-left: 0; 
  padding-left: 0;
}


.itemsList {
  max-height: 400px;
  padding-right: var(--mantine-spacing-sm);
  margin-left: 0; 
  padding-left: 0;
  overflow-y: auto;
}


.cartItem {
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 0.2s ease;
  margin-bottom: var(--mantine-spacing-md);
  margin-left: 0; 
}


.itemImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: var(--mantine-radius-sm);
  margin-right: var(--mantine-spacing-sm);
}

.itemName {
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  color: var(--mantine-color-black);
}

.itemPrice {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-black);
}


.quantityGroup {
  gap: var(--mantine-spacing-xs);
  margin-left: 0;
}

.quantityButton {
  min-width: 20px;
  text-align: center;
}


.removeButton {
  color: var(--mantine-color-);
}


.totalGroup {
  margin-bottom: var(--mantine-spacing-md);
  margin-left: 0;
  padding-left: 0;
}

.totalLabel {
  font-weight: 700;
}

.totalPrice {
  font-weight: 700;
  color: var(--mantine-color-black);
}

.quantityButton {
  background-color: var(--mantine-color-gray-1);
  color: var(--mantine-color-black);
  border: none;
  border-radius: 20%;
}

.clearButton {
  background-color: var(--mantine-color-green-6);
  transition: transform 0.2s ease;
  width: 100%;
}

.clearButton:hover {
  transform: scale(1.02);
  background-color: var(--mantine-color-green-4);
}


.emptyCart {
  max-width: 300px;
  text-align: center;
  background-color: var(--mantine-color-white);
}

.emptyText {
  color: var(--mantine-color-gray-6);
}