.card {
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.imageSection {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}



.productInfo {
  display: flex;
  align-items: baseline;
  gap: var(--mantine-spacing-xs);
  flex: 1;
}


.productName {
  text-transform: capitalize;
  font-weight: 500;
  color: var(--mantine-color-black); 
}


.productWeight {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-gray-6); 
  font-weight: 400;
}


.productPrice {
  font-weight: 700;
  color: var(--mantine-color-black); 
}

.quantityButton {
  background-color: var(--mantine-color-gray-1);
  color: var(--mantine-color-black);
  border: none;
  border-radius: 20%;
} 

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-xs);
}


.quantity {
  min-width: 20px;
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  
}


.addToCartButton {
  transition: all 0.2s ease;
  flex: 1;
}

.addToCartButton:hover {
  transform: scale(1.02);
}


.firstRow {
  margin-bottom: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-sm);
}

.secondRow {
  margin-top: var(--mantine-spacing-sm);
}